/* CSS Document */


#ground {
	position: absolute;
	bottom:0px;
	z-index:1;
	background:url(../images/animated-bg.png);
	background-repeat:repeat-x;
	height:50px;
	width:100%;
	left:0;
}
animation: ground 3s linear 0 infinite;
	-webkit-animation: ground 3s linear 0 infinite;
	-moz-animation: ground 3s linear 0 infinite;

/******** ANIMATIONS ********/


@keyframes ground {
	from { left: -10px; }
	to { left: -260px; }
}

@-webkit-keyframes ground {
	from { left: -10px; }
	to { left: -260px; }
}

@-moz-keyframes ground {
	from { left: -10px; }
	to { left: -260px; }
}
