/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
	background-image:url(../img/noisebg.png);
	height:100%;
}

.container{
	margin-top:20px;
	font-family:'Lato', Calibri, Arial, sans-serif !important;
}

.header{
	background-color:rgb(145,21,21);
	padding:20px 10px;
	margin-bottom:10px;
}

.logo img{
	height:100px;
	width:auto;
}

.user-info{
	text-align:right;
	color:#fff;
}

.user-info h4{
	font-size:15px;
	font-weight:bold;
}

.user-info .logout-link{
	color:#fff;
	padding:5px 10px;
	transition:0.4s ease;
	font-size:11px;
}

.user-info .logout-link:hover{
	text-decoration:none;
	background-color:rgba(0,0,0,0.1);
}

.body{
	padding:0px;
	margin-bottom:10px;
	position:relative;
}

.sidebar{
	background-color:#333;
	padding:0px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width:25%;
}

.sidebar ul{
	list-style:none;
	padding:0px;
	margin-top:10px;
	font-family: 'bebas_neueregular';
	font-size:18px;
	letter-spacing:0.5px;
}

.sidebar ul a{
	color:#fff;
}

.sidebar ul a:hover{
	text-decoration:none;
}

.sidebar ul a:hover li{
	background-color: rgba(145,21,21,0.7);
	color:#fff;
}

.sidebar ul li.active{
	background-color: rgb(145,21,21);
	color:#fff;
}

.sidebar ul li.active:hover{
	background-color: rgb(145,21,21);
	color:#fff;
}

.sidebar ul li{
	padding:10px 25px;
	border-bottom:1px solid #292929;
}

.content{
	padding-right:0px;
}

@media (max-width: 991px) {
	.content{
		padding-left:0px;
	}
	.sidebar{
		position: static;
		width: inherit;
	}
	.content-area{
		margin:0px;
	}
}

.content-area{
	background-color:#fff;
	border:1px solid #ddd;
	padding:20px;
	min-height:400px;
}

.content-area .title{
	font-family: 'bebas_neueregular';
}

.footer{
	background-color:rgb(145,21,21);
	padding:20px;
	color:#fff;
	font-size:11px;
	margin-bottom:20px;
}

.footer p{
	margin:0px;
}
