body{
	background:#fff;
}

#scene{
	position:fixed;
	width:100%;
	height:700px;
	margin-top:-350px;
	top:50%;
	left:0;
	background: rgba(41,184,229,1);
background: -moz-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(122,211,240,1) 50%, rgba(203,237,250,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,184,229,1)), color-stop(50%, rgba(122,211,240,1)), color-stop(100%, rgba(203,237,250,1)));
background: -webkit-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(122,211,240,1) 50%, rgba(203,237,250,1) 100%);
background: -o-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(122,211,240,1) 50%, rgba(203,237,250,1) 100%);
background: -ms-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(122,211,240,1) 50%, rgba(203,237,250,1) 100%);
background: linear-gradient(to bottom, rgba(41,184,229,1) 0%, rgba(122,211,240,1) 50%, rgba(203,237,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#cbedfa', GradientType=0 );
}

.parallax-layer{
	position:absolute;
	height:700px;
	background-repeat:no-repeat;
}

#bg2{
	background:url(../images/grass-ground.png) left bottom repeat-x;
	width:4368px;
	bottom:0px;
}

#character{
	position:absolute;
	background-image:url(../images/sujan-pixel-sprite2.png);
	width:72px;
	height:152px;
	bottom: 76px;
	left:400px;
	margin:auto;
}

.school{
	position:absolute;
	width:600px;
	height:523px;
	top:100px;
}

#schoolunder{background:url('../images/school_under.png');}
#schoolover{background:url('../images/school_over.png');}

#sujan-title{
	background:url(../images/sujan.png) no-repeat;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.title{
	position:absolute;
	height:88px;
	width:784px;
	top:100px;
}




