/* CSS Document */

.rsContent {
	color: #FFF;
	font-size: 14px;
	line-height: 24px;
	float: left;
	padding:80px 40px;
}

.bContainer {
	position: relative;
	top:20px;
}

.rsABlock {
	position: relative;
	display: block;
	left: auto;
	top: auto;
}

.blockHeadline {
	font-size: 42px;
	line-height: 54px;
	font-style: italic;
}

.blockSubHeadline {
	font-size: 32px;
	line-height: 40px
}

.txtCent {
	text-align: center;
	width: 100%;
}

.slide1 {
	background-image:url(1.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}


.slide2 {
	background-image:url(2.jpg);
	background-size:cover;
	background-position:top;
	color: #fff;
	background-attachment:fixed;
}

.slide2 .txtCent {
	line-height: 24px;
}

.slide2 .blockHeadline {
	line-height: 66px;
}

.rsTestImg{
	display:block;
	border:4px solid rgba(255,255,255,0.7);
	height:100px;
	width:100px;
	overflow:hidden !important;
	margin: 0px auto 20px auto;
	border-radius:50%;
	position:relative;
}

.rsImg{
	height:120%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;	
}

.btn-more{
	margin-top:20px;
}

.btn-outline{
	border-radius:0px;
	background-color:transparent;
	border: 2px solid #fff;
	color:#fff;
	transition:0.5s ease;
	font-family: 'bebas_neueregular';
	font-size:17px;
	padding:5px 20px;
	letter-spacing:0.4px;
}

.btn-outline:hover{
	background-color:#fff;
	border-color:#fff;
	color:#666;
}

span.rsTestimonial p{
	display:inline;
}

.rsTestimonial .fa-quote-left{
	margin-right:5px;
}

.rsTestimonial .fa-quote-right{
	margin-left:-5px;
}

 @media screen and (min-width: 0px) and (max-width: 960px) {

.blockHeadline {
	font-size: 32px;
	line-height: 32px;
}

.blockSubHeadline {
	font-size: 26px;
	line-height: 32px
}
}
@media screen and (min-width: 0px) and (max-width: 500px) {


.rsContent {
	font-size: 12px
}

.blockHeadline {
	font-size: 24px;
	line-height: 32px;
}

.blockSubHeadline {
	font-size: 22px;
	line-height: 32px
}
}
