@import url(http://fonts.googleapis.com/css?family=Exo+2:300,500,700);

* {
    font-size: 14pt;
    font-family: 'Exo 2', sans-serif;
}

.thumb{
    max-width: 100%;
}

.bio{
    font-size: 12px;
    text-align: center;
    margin: 50px 0;
    color: #777;
    font-weight: 100;
}

.logo{
    display: block;
    margin: auto;
    width: 100px;
    margin-top: 50px;
}

#get-projects{
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 12px;
    width: 160px;
    margin: 50px auto 25px auto;
    display: block;
    outline:none;
}

#get-projects:hover{
    background: #111;
}

.project{
    position: relative;
    padding: 0px;
}

.details{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    color: #fff;
    display: none;
}

span.project-title {
    font-size: 12px;
    height: 12px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#search{
    max-width: 767px;
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #ddd;
    font-weight: 100;
    outline: none;
}

#search:focus{
    border-color: #777;
}

.toggle{
    text-align: center;
    margin-bottom: 25px;
    display: none;
}

.toggle .btn{
    font-size: 12px;
    font-weight: 100;
}
