@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

body{
	font-family: 'Amatic SC', cursive;
	background: #eee;
}

.wrapper{
	background: #fff;
	max-width: 767px;
	margin: auto;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.title{
	text-align: center;
	font-size: 45px;
}

.cell{
	border: 1px dotted #ddd;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 35px;
	display: inline-block;
	float: left;
	line-height: 100px;
}
.cell:nth-child(3n+4){
	clear: both;
}

.container{
	text-align: center;
	margin-bottom: 50px;
}

.board{
	background: #fff;
	font-family: 'Permanent Marker', cursive;
	display: inline-block;
	margin: 25px 0;
	border: 1px dotted #ddd;
}

.board:before,.board:after{
	line-height: 0;
	display: table;
	content: ""
}

.board:after{
	clear: both;
}

.btn{
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	height: 50px;
	min-width: 250px;
	border: none;
	border-radius: 5px;
	color:#fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8717d+0,f7727b+20,f47476+35,e38552+82,df894a+100 */
	background: rgb(248,113,125); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NzE3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Y3NzI3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2Y0NzQ3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgyJSIgc3RvcC1jb2xvcj0iI2UzODU1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZjg5NGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,113,125,1) 0%, rgba(247,114,123,1) 20%, rgba(244,116,118,1) 35%, rgba(227,133,82,1) 82%, rgba(223,137,74,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,113,125,1)), color-stop(20%,rgba(247,114,123,1)), color-stop(35%,rgba(244,116,118,1)), color-stop(82%,rgba(227,133,82,1)), color-stop(100%,rgba(223,137,74,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,113,125,1) 0%,rgba(247,114,123,1) 20%,rgba(244,116,118,1) 35%,rgba(227,133,82,1) 82%,rgba(223,137,74,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,113,125,1) 0%,rgba(247,114,123,1) 20%,rgba(244,116,118,1) 35%,rgba(227,133,82,1) 82%,rgba(223,137,74,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,113,125,1) 0%,rgba(247,114,123,1) 20%,rgba(244,116,118,1) 35%,rgba(227,133,82,1) 82%,rgba(223,137,74,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,113,125,1) 0%,rgba(247,114,123,1) 20%,rgba(244,116,118,1) 35%,rgba(227,133,82,1) 82%,rgba(223,137,74,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8717d', endColorstr='#df894a',GradientType=0 ); /* IE6-8 */
	outline: 0;
}

.btn:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#df894a+0,e38552+18,f47476+65,f7727b+80,f8717d+100 */
	background: rgb(223,137,74); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmODk0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2UzODU1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2Y0NzQ3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2Y3NzI3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmODcxN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(223,137,74,1) 0%, rgba(227,133,82,1) 18%, rgba(244,116,118,1) 65%, rgba(247,114,123,1) 80%, rgba(248,113,125,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,137,74,1)), color-stop(18%,rgba(227,133,82,1)), color-stop(65%,rgba(244,116,118,1)), color-stop(80%,rgba(247,114,123,1)), color-stop(100%,rgba(248,113,125,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,137,74,1) 0%,rgba(227,133,82,1) 18%,rgba(244,116,118,1) 65%,rgba(247,114,123,1) 80%,rgba(248,113,125,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,137,74,1) 0%,rgba(227,133,82,1) 18%,rgba(244,116,118,1) 65%,rgba(247,114,123,1) 80%,rgba(248,113,125,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,137,74,1) 0%,rgba(227,133,82,1) 18%,rgba(244,116,118,1) 65%,rgba(247,114,123,1) 80%,rgba(248,113,125,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(223,137,74,1) 0%,rgba(227,133,82,1) 18%,rgba(244,116,118,1) 65%,rgba(247,114,123,1) 80%,rgba(248,113,125,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df894a', endColorstr='#f8717d',GradientType=0 ); /* IE6-8 */
	cursor: pointer;
}

footer{
	text-align: center;
	color: #aaa;
	letter-spacing: 2px;
}
