@import url(https://fonts.googleapis.com/css?family=McLaren);

html,body{
	padding:0;
	margin: 0;
}

body{
	font-family: 'McLaren', cursive;
	color: #fff;
	background: #B20B98;
}

.title{
	width: 200px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 5px;
    margin-top: 12px;
    background-color: #FF51E0;
    border-radius: 5px 5px 0px 0px;
}

.category{
	position: absolute;
    top: -15px;
    background-color: #FF51E0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 250px;
}

#category-name{
	text-transform: uppercase;
}

.blanks{
    margin: 50px 25px;
    padding: 100px 50px;
    text-align: center;
    padding-right: 10px;
    border: 4px solid #fff;
    border-radius: 5px;
    position: relative;
}
#blanks{
	letter-spacing: 40px;
    font-size: 50px;
    font-weight: bold;
}

.life-count,.score-count{
	text-transform: uppercase;
	font-weight: 900;
	margin-left: 25px;
}

#lives{
	letter-spacing: 8px;
}

#answer-container{
	padding: 15px;
	border-radius: 10px;
	border:20px solid #CC49E8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 25px 15px 15px 15px;
	background-color: #FF51E0;
	background-image: url(pattern.png);
	background-size: 20%;
	z-index: -1;
}